version: '3'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
        - REACT_APP_SCRAPER_URL=${REACT_APP_SCRAPER_URL}
        - REACT_APP_URL=${REACT_APP_URL}
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - REACT_APP_API_URL=${REACT_APP_API_URL}
      - REACT_APP_SCRAPER_URL=${REACT_APP_SCRAPER_URL}
      - REACT_APP_URL=${REACT_APP_URL}
    env_file:
      - .env